.elements__title {
  background-color: #fff;
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
}